* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}


nav {
    height: 10vh;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    position: fixed;
    z-index: 100;
    opacity: 0.95;
}

.nav-bar {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    border-radius: 2.5vh;
    font-size: 4rem;
    border: 1vh solid rgb(153, 155, 156);
}

.mobile-bar {
    color: rgb(100, 13, 13);
    position: absolute;
    right: 20px;
    font-size: 8rem;
}


#toggle {
    display: none;
}

.nav-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
}


.nav-mobile li {
    padding: 2%;
}

.nav-background {
    width: 100%;
    background-color: rgb(153, 155, 156);
    position: fixed;
    
    z-index: 4;
    display: none;
}

#toggle:checked ~ .nav-background {
    display: block;
    transition: all 1s ease-in-out;
}


.nav_links {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    display: inline-block;
}

a, li {
    text-decoration: none;
    color: #4F4343;
    margin: 0px 3%;
}
.logo {
    background-color: rgb(68, 61, 62);
    color: #ECECEC;
    width: 40%;
    margin: 0%;
    height: 100%;
    text-align: center;
}
.logo a {
    color: #ECECEC;
    
}

header {
    min-height: 100vh;
    opacity: 0.75;
    position: relative;
    background-image: url(../img/apple-business-camera-equipment-2120021.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

.headers {
    width: 80vw;
    position: absolute;
    top: 25%;
    left: 3%;
    color: #4F4343;
}
.welcome h1 {
    font-size: 3rem;
}

.welcome h2 {
    font-size: 2rem;
}

.welcome {
    width: 100%;
    height: 30%;
    background-color: #ECECEC;
    opacity: 0.85;
    position: absolute;

}

.profile {
    width: 100%;
    height: 70%;
    position: absolute;
    background-color: #4F4343;
    opacity: 0.85;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo {
    width: 50%;
    height: auto;
    padding-top: 50%;
    border-radius: 50%;
    background-image: url(../img/IMG_E2848.JPG);
    background-size: cover;
    position: absolute;
    border: 5px solid rgb(68, 57, 57);
    animation: photo-flip 3s ease-in-out;
}

main {
    display: block;
    background-image: url(../img/nav.jpg);
    background-size: contain;
}

.between-sec {
    height: 10vh;
    background-image: url(../img/nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6E8E9;
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.about-me {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63595A;
    opacity: 0.9;
    border-radius: 10vh;
    border: 1vh solid rgb(68, 61, 62);
}

.description {
    color: #63595A;
    text-align: center;
    margin: 8% 5%;
    width: 80%;
    min-height: 60%;
    padding: 5%;
    background-color: #E6E8E9;
    border-radius: 5vh;
}


/*   Skills section  */

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 50vh;
    background-color: #63595A;
    padding: 5% 10% 5% 10%;
    opacity: 0.9;
    border-radius: 10vh;
    border: 1vh solid rgb(68, 61, 62);
    font-family: 'Farro', sans-serif;
    font-weight: 500;
    color: rgb(87, 84, 84);
}

.skill {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.border-line {
    position: relative;
    width: 80%;
    height: 5%;
    background-color: rgb(155, 155, 155);
    border-radius: 1vh;
}

.fill {
    position: absolute;
    height: 100%;
    background-color: rgb(87, 84, 84);
    border-radius: 1vh;
}

.fill1 {
    width: 70%;
}

.fill2 {
    width: 90%;
}

.fill3 {
    width: 90%;
}

.fill4 {
    width: 80%;
}

.fill5 {
    width: 65%;
}

.fill6 {
    width: 60%;
}


.skills .soft {
    background-color: #E6E8E9;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
}


.skills h3 {
    margin: 1%;
}
.skills h2 {
    margin-bottom: 6%;
}

.skills .hard {
    background-color: #E6E8E9;
    width: 100%;
    height: 80%;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*   Portfolio things  */

.portfolio {
    min-height: 100vh;
    background-color: #E6E8E9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.9;
    border-radius: 10vh;
    border: 1vh solid rgb(153, 155, 156);
    text-align: center;
}

.project {
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj {
    background-color: #63595A;
    width: 80%;
    height: 80%;
    border-radius: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: #E6E8E9;
}

.photo {
    width: 90%;
    height: 75%;
    border: 1vh solid rgb(68, 61, 62);
}

.photo img {
    width: 100%;
    height: 100%;
}

.photo a {
    margin: 0%;
}

/* Contact section */

.contact {
    min-height: 50vh;
    background-color: #63595A;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    border-radius: 10vh;
    border: 1vh solid rgb(68, 61, 62);
}

.container {
    width: 80%;
    min-height: 70%;
    background-color: #E6E8E9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5vh;
    padding: 5%;
}

.contact-icon {
    width: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    color: #63595A;
    text-decoration: none;
}

.contact-icon a {
    text-decoration: none;
    color: #63595A;
}

/*   Footer section  */

footer {
    min-height: 6.25vh;
    background-color: #E6E8E9;
    text-align: center;
    padding-top: 2vh;
}

/*   Media  */

@media (orientation: landscape) {
    .profile-photo{
        width: 30%;
        padding-top: 30%;
    }

    .skills {
        justify-content: center;
    }

    .skill {
        min-height: 60vh;
        width: 80%;
    }

    .skills .soft {
        height: 90%;
    }

    .skills .hard {
        height: 90%;
    }
    .between-sec {
        height: 15vh;
    }
    .project {
        width: 40%;
    }
    .nav-mobile {
        font-size: 3rem;
    }
    .nav-mobile li {
        padding: 1%;
    }

}

@media (orientation: portrait){
    .border-line {
    }
}

@media (max-width: 320px) {
    .welcome h1 {
        font-size: 2.8rem;
    }

    .welcome h2 {
        font-size: 1.9rem;
    }
}
@media (max-height: 470px) {
    .welcome h1 {
        font-size: 2.8rem;
    }

    .welcome h2 {
        font-size: 1.7rem;
    }
}

@media (min-width: 1024px) {
    .about-me, .skills, .portfolio, .contact {
        margin-left: 5%;
        width: 90%;
    }

    .headers h1 {
        font-size: 8rem;
    }

    .headers h2 {
        font-size: 3rem;
    }

    .headers h2 span::after{
        content: '\A';    
        white-space: pre;
    }

    .welcome {
        width: 60%; 
        height: 100%;
    }

    .profile {
        width: 40%;
        height: 100%;
        left: 60%;
        top: 0%;
    }

    .profile-photo {
        width: 70%;
        height: auto;
        padding-top: 70%;
    }

    .skills {
        justify-content: space-between;
        padding: 5%;
    }

    .skill {
        min-height: 50vh;
        width: 45%;
    }

    .skill h3 {
        font-size: 1.5rem;
    }

    .skills .soft , .skills .hard {
        min-height: 100%;
        justify-content: space-around;
        padding-bottom: 5%;
    }   

    .skills h2 {
        margin-bottom: 2%;
        font-size: 1.8rem;
    }

    .mobile-bar {
        display: none;
    }

    .nav-bar {
        display: block;
    }

}

@media (min-width: 1324px) {
    .headers h1 {
        font-size: 10rem;
    }

    .headers h2 {
        font-size: 4rem;
    }
}

@media (min-width: 1624px) {
    .headers h1 {
        font-size: 12rem;
    }

    .headers h2 {
        font-size: 5rem;
    }
}

@media (min-width: 375px) and (max-width: 700px) {
    
    .mobile-bar {
        font-size: 4rem;
    }

}

@media (min-width: 1024px) and (min-height: 700px){
    .skill {
        min-height: 40vh;
    }
}


@media (min-height: 550px) and (min-width: 330px) and (max-width: 680px){
    .skill{
        min-height: 50vh;
    }
}

@keyframes photo-flip {
    0% {
        width: 5%;
        padding-top: 5%;
        height: auto;
    } 25% {
        width: 20%;
        padding-top: 20%;
        height: auto;
    } 50% {
        width: 35%;
        padding-top: 35%;
        height: auto;
    } 75% {
        width: 50%;
        padding-top: 50%;
        height: auto;
    } 100% {
        width: 70%;
        padding-top: 70%;
        height: auto;
    }
}